{% extends 'main.html' %}

{% block content%}

<div class=" d-flex justify-content-center">        
    <div class="container">
        <br>
        <p>
            I wrote this website because my students constantly struggle with putting all of the different elements of a program together. Whilst they understand the basic concepts of programming, they struggled when it came to putting it all together.
        </p>
        <p>
            For example, many learners understand how to define a function/method and,when working on this as a topic, completely understand what to do, how to do it, and how it all hangs together (values in, values back, etc.). However, when asked to write a program that uses functions/methods to do something, many students panic and have no idea where to start.
        </p>
        <p>
            Additionally, when programming moves into more complex areas like reading multiple lists/arrays or reading csv files or OOP, students can get frustrated, consufed, and disheartened.
        </p>
        <p>
            When frustrated, confused, or disheartened, many students turn to the internet for solutions. They search Google or Stack Overflow and often end up down a rabbit hole, more lost than when they started.
        </p>
        <p>
            But no more (hopefully)!! This website provides learners with examples of perfectly working code in all of the major languages of today. From simple concepts to more challenging structures, all examples on this website work perfectly and can be easily copied into an IDE to be modifed as required.
        </p>
        <p>
            I truly hope you find this website of value and that you will spread the word so that other learners may also have a simple, free collection of good clean working code.
        </p>
    </div>
</div>

{% endblock content %}
