{% extends 'main.html' %}

{% block content%}

<div class=" d-flex justify-content-center">        
    <div class="container">
        <br>
        <p>
            I wrote this website because, whilst my students understood and could code some basic concepts, they struggled when it came to putting it all together.
        </p>
        <p>
            For example, many learners understand how to define a function or a method and, when working on this as a topic, they completely understand what to do, how to do it, and how it all hangs together (values in, values back, etc.). However, when asked to write a program that uses functions/methods to do something, many students panic and have no idea where to start.
        </p>
        <p>
            Additionally, when programming moves into more complex areas like reading multiple lists/arrays or reading csv files or OOP, students can get frustrated and disheartened.
        </p>
        <p>
            When frustrated, confused, or disheartened, many students turn to the internet for solutions. They lookup Google or Stack Overflow and often end up down some rabbit hole or more lost than when they started their search.
        </p>
        <p>
            But no more, This website provides students with examples of perfectly working code in all the major languages of today. From simple concepts to more challenging structures, all examples on this website work perfectly and can be easily copied into an IDE to be modifed as required.
        </p>
        <p>
            I truly hope you find this website of value and that you will spread the word so that other learners may also have a simple, free repository of good clean working code.
        </p>
    </div>
</div>

{% endblock content %}
