{% extends 'main.html' %}
{% load static %}
{% block content%}

<div class="d-md-none">
    <div class="row text-center">
      <div class="col-md-2">
        <img src="{% static 'images/zorrosign.png' %} " class="rounded" alt="DevSearch Logo" style="width:100px;height:100px;"/>
      </div>
    </div>
  </div>

<div class=" container-fluid d-flex">
    <div class="row text-left">    
        <div class="col-md-2 d-none d-md-block d-lg-block">

        </div>    
        <div class="col-md-10 d-none d-md-block d-lg-block">
            <p><em>
            Choose a programming language and a topic and click "Get Code...". Click "Copy" to copy code to the clipboard or "Clear" to clear the text area. Help us keep this site free for all by donating what you can. Every little helps...
            </em></p>
        </div>        
    </div>
</div>
<div class="container-fluid">
    <div class="row mx-auto">
        <div class="col-md-2 d-none d-md-block d-lg-block">
        </div>
        <div class="col-md-10">
            <div class="form-group m-2 mb-1" style="float">
                <br>
                <form method="post">                    
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn--main--outline" value="Get Code...">                         
                </form>
            </div>
            <div class="form-group m-2 mb-1">            
                <textarea class="form-control" id="displayText" rows="10" columns="200" style="font-family: 'Courier New', Courier, monospace; font-size: 14px;" readonly>{{ text }}</textarea>
            </div>  
            <div class="m-2">
                <input id="clear" type="submit" class="btn btn--main--outline" value="Clear text area" onclick="clearTextarea()">                      
                <input id="copy" type="submit" class="btn btn--main--outline" value="Copy Code" onclick="copyText()">                      
            </div>
        </div>
    </div>
</div>

<script>
    function clearTextarea() {
        document.getElementById("displayText").value = "";        
    }
    function copyText() {
        document.getElementById("displayText").select();
        document.execCommand('copy');
        alert("Code copied to clipboard.");
        document.getElementById("clear").focus();
    }
</script>
{% endblock content %}
