{% extends 'main.html' %}


{% block content%}


<div class=" d-flex justify-content-center">
    <div class="row">
        <div class="col-md-1 d-none d-md-block d-lg-block">
        </div>
        <div class="col-md-3 d-none d-md-block d-lg-block">
            <p class="display-6"><em>Notes...</em></p>
            <p><small><em>
            Choose a programming language and a topic and click "Get Code...".
            Then simply copy/paste the code from the text area into your editor.<br>
            </em></small></p>
            <p><small><em>Where applicable, all code samples are based on a simple payroll system. For example;<br>
                empName = "John Lennon"<br>
                hoursWorked = 40<br>
                rateOfPay = 9.99<br>
                grossPay = hoursWorked * rateOfPay
            </em></small></p>
            <p><small><em></em>Help us keep this site free of ads by donating what you can.<br>
                Every little helps...
            </em></small></p>
            <form method="GET"> 
                <small><em>
                    Help us keep this site free of ads by donating what you can.<br>
                    Every little helps...                 
                </em></small>                                        
                <a href="{% url 'donate' %}" class="btn btn--main--outline">Donate...</a>
            </form>
        </div>
        
        <div class="col-md-8">
            <div class="form-group m-2">
                <form method="post">                    
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" class="btn btn--main--outline" value="Get Code..."> 
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="13" style="font-family: 'Courier New', Courier, monospace; font-size: 14px;" readonly>{{ text }}</textarea>                       
                </form>
            </div>
            
            
            <div class="m-2">
                <input id="clear" type="submit" class="btn btn--main--outline" value="Clear text area" onclick="clearTextarea()">                      
            </div>
        </div>
    </div>
</div>

<script>
    function clearTextarea() {
        document.getElementById("displayText").value = "";        
    }
</script>
{% endblock content %}
