{% load static %}

<!-- Navbar -->
<header class="header data-uk-sticky">  
  <div class="container container--narrow">
    <a href="{% url 'get_code' %}" class="header__logo">
      <img src="{% static 'images/zorroIcon.png' %} " style="border-radius:20%" alt="Code Zorro Logo" />
    </a>
    <nav class="header__nav">
      <input type="checkbox" id="responsive-menu" />
      <label for="responsive-menu" class="toggle-menu">
        <span>Menu</span>
        <div class="toggle-menu__lines"></div>
      </label>
      <ul class="header__menu">
        <li class="header__menuItem"><a href="{% url 'get_code' %}">Home</a></li>        
        <li class="header__menuItem"><a href="{% url 'about' %}">About</a></li>        
        <li class="header__menuItem"><a href="{% url 'createEmail' %}">Contact Us</a></li>          
        <li class="header__menuItem"><a href="{% url 'donate' %}">Donate €5</a></li>    
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Download an IDE
        </button>
        <ul style="font-size:14px" class="dropdown-menu" aria-labelledby="dropdownMenu">
          <li><a class="dropdown-item" href="https://www.python.org/downloads/" target="_blank">Idle (Python)</a></li>
          <li><a class="dropdown-item" href="https://netbeans.apache.org/download/index.html" target="_blank">NetBeans (Java)</a></li>
          <li><a class="dropdown-item" href="https://code.visualstudio.com/download" target="_blank">Visual Studio Code (Multiple)</a></li>
        </ul>         
      </ul>      
    </nav>    
  </div>
</header>
<!-- Screen banner -->
<div class="container-fluid d-none d-md-block d-lg-block">
  <div class="row">
    <div class="col-md-2">
      <img src="{% static 'images/zorrosign02.png' %} " style="width:150px;height:150px;" alt="Code Zorro Logo" />
    </div>
    <div class="col-md-10">
      <br>
      <p class="display-5"><em>CodeZorro.com</em></p> 
      <br>
      <p class="display-6"><em>Fighting the evils of complicated code structures wherever found!!</em></p>      
    </div>
  </div>
</div>
<!-- Screen banner for mobile devices -->
<div class="d-md-none">
  <div class="row text-center">
    <div class="col-md-2">
      <img src="{% static 'images/zorrosign02.png' %} " class="rounded" alt="Code Zorro Logo" style="width:100px;height:100px;"/>
    </div>
  </div>
</div>
